body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-family: Monospace, cursive;
  font-size: 65px;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  text-shadow: rgba(20, 20, 20, 0.6) 3px 3px 2px;
  text-align: center;
  margin-block: 40px;
}

a {
  text-decoration: none;
}
