body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1B1B1E;
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #dfe0e0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 65px;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  text-shadow: rgba(20, 20, 20, 0.6) 3px 3px 2px;
  text-align: center;
  margin-block: 40px;
}

h2 {
  color: #fff;
  font-family: Monospace, cursive;
  font-size: 35px;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  text-shadow: rgba(20, 20, 20, 0.6) 3px 3px 2px;
  text-align: center;
  margin-block: 40px;
}

a {
  text-decoration: none;
}
